/* ==========================================================================
    Base styles
   ========================================================================== */


*, *:before, *:after {
    box-sizing: inherit;
    font-family: Proxima Nova, Verdana, Tahoma, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
}

h4 {
    font-weight: bold;
  font-size: 100%;
}

h5 {
  font-size: 105%;
}

p {
    font-size: 1.15rem;
    line-height: 1.8rem;
}

/* ==========================================================================
    Typography
   ========================================================================== */


section {
    padding: 0!important;
    background-color: #fafafa
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#desktop1, .full-width {
    width: 100vw!important;
}

.block {
    padding: 5rem 0 5rem 0;
}

.img-wrapper {
    display: grid;
    height: 50vh;
}

img.transition {
    opacity: 1;
}

.img-wrapper img {
    grid-column: 1;
    grid-row: 1;
    transition: opacity 0.3s;
}

.nav-link {
    color: #000;
    letter-spacing: 0.1em;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.nav-link, .btn {
    margin-left: 2em;
}

.footer div a {
    color: #000;
}

.footer div a:hover {
    text-decoration: none;
    color: #ee8e6c;
}

/* ========================
    model scroll animation
=========================== */

.model {
    height: 100vh;
  }

.model video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.f_video {
    width: 100vw;
    background-color: black;
  }

.f_video iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ==========================================================================
    Mapbox
    ========================================================================== */

    #map {
        top:0vh;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -5;
    }

    #header {
        width: 100vw;
        padding: 2vh;
        text-align: center;
    }
    #footer {
        width: 100%;
        min-height: 5vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        text-align: center;
        line-height: 25px;
        font-size: 13px;
    }
    #features {
        padding-top: 12.5vh;
        padding-bottom: 12.5vh;
        z-index: 100;
    }

    .centered {
        width: 50vw;
        margin: 0 auto;
    }
    .lefty {
        width: 33vw;
        margin-left: 5vw;
    }
    .righty {
        width: 33vw;
        margin-left: 62vw;
    }
    .light {
        color: #000;
        background-color: #fafafa;
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.05);
    }

    .light p {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .dark {
        color: #fafafa;
        background-color: #000;
    }
    .step {
        padding-bottom: 50vh;
        /* margin-bottom: 10vh; */
        opacity: 0.25;
    }
    .step.active {
        opacity: 0.9;
    }

    .step div {
        padding:  25px 50px;
        line-height: 25px;
        font-size: 13px;
    }

    .step img {
        width: 100%;
    }

    @media (max-width: 750px) {
        #features {
            width: 90vw;
            margin: 0 auto;
        }
    }

    /* Fix issue on mobile browser where scroll breaks  */
    .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
    .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
        touch-action: unset;
    }


/* ==========================================================================
    expandable photos
    ========================================================================== */

.photos{
  width: 100%;
  height: 90%;
  display: flex;
}

.crop-to-fit {
  flex:1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.crop-to-fit:nth-child(3){
  justify-content:flex-start;
}
.crop-to-fit:hover {flex-grow: 3;}

.crop-to-fit:not(:hover)>img{
  opacity: 0.5;
}

/* first paragraph ----------- */
.getstart{
  display:flex;
  position: absolute;
  bottom: 10rem;
  left:50%;
  font-size: 1.2em;
  font-weight:bold;
}
.getstart a{
  color:black;
  padding-bottom: 8px;
}
.getstart a:hover{
  text-decoration: none;
}

span#gs {
    position: absolute;
    width: 8em;
    left: -7vh;
    font-size: 1.6rem;
}

.getstart img {
    padding-top: 3rem;
}

.titleText{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80vh;
}


/* accordeons ----------- */

.action-items {
    background: #816865;
    color: #fff;
}

.action-items-right {
    padding-top: 45px;
}

.action-items-right h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.accordion {
    margin-top: 30px;
}
.accordion .acd-btn {
    border-radius: 2em;
    padding: 0.5em 1em;
    margin: 1rem;
    background: #7a625f;
    font-weight: bold;
    color: #fff;
}

.acd-active {
    background: #ee8d6c !important;
    color: #fff;
}

div.card-header {
    padding: 0em!important;
    margin-bottom: 0;
}

.card-header {
    background:transparent;
}

.card-header .btn {
    font-weight: bold;
    color: #fff;
    margin-left: 0;
}

.card {
    border: none !important;
    background-color: transparent !important;

}

@media only screen
and (max-width: 1224px) {
  .titleText{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
  }
}

.leavespace {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names{
    padding:1em 0;
  }
  
.titleText p,
.block p,
.bio-block p {
    margin-top: 1.5rem;
}

.bio-block h1 {
    margin-top: 5rem;
}

.bio-block {
    /* height: 85vh; */
    padding-bottom: 45px;
}

.adb-logo {
    width: 14vw;
    margin-left: 3em;
}

#desktop1 {display:block;}
#mobile1 {display:none}

@media all and (max-width: 768px) {
    #desktop1 {display: none;}
    #mobile1 {display: block;}
}

/* hide scrollbar */

.navbar {
    background: #fff;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 100px)
and (max-device-width : 515px) {

    .block {
        height: 40vh;
    }

    .img-wrapper {
        display: grid;
        height: 20vh;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 1024px)
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .container{
        max-width: 1570px;
    }
}
